[user]
	email = nak5124@live.jp
	name = Yuta NAKAI

[core]
	symlinks = false
	ignorecase = false
	autocrlf = false
	whitespace = cr-at-eol
	editor = vim -c \"set fenc=utf-8\"
	packedGitWindowSize = 512m
	packedGitLimit = 512m

[push]
	default = simple

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = true

[rebase]
	autosquash = true

[pack]
	windowMemory = 512m
	threads = 4
	deltaCacheSize = 512m
	packsizelimit = 512m

[help]
	format = html

[http]
	sslcainfo = /usr/ssl/certs/ca-bundle.crt

[diff "astextplain"]
	textconv = astextplain
